 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

$mainFont: 'Fjalla One';
$smallFont: 'Raleway';
$background: url(http://i57.tinypic.com/2ni8qqu.png);


@mixin heading{
  font-family: $mainFont;
  background-color: HSLA(270, 36%, 48%, 1) ;
  color: white;
  font-weight:100;
  height: 50px;
  margin: 0px;
  display: block;
  background: $background;
}

@mixin boxes{
  width: 600px;
  font-family: $smallFont;
  color: HSLA(0, 0%, 31%, 1);
  border-radius: 7px;
  margin: 0px;
}

.bigBox{
  height: auto;
  width: 600px;
  margin: 0 auto;
  margin-top: 100px;
  box-shadow: 8px 8px 5px #888888;
  border-radius: 7px;

.box1 {
  @include boxes;
}

.box2{
  @include boxes;
}

.box3{
  @include boxes;
}
}

h2{
  @include heading;
  text-align: center;

}
h2:hover{
    background-color: HSLA(270, 36%, 48%, .6);
    transition:background-color 1s ease;
}

p{
  padding: 10px;
  padding-top: 0px;
  margin-top: 5px;
}
section{
  height: 30px;
  overflow: hidden;
  transition: height 1s ease;
  border-radius: 7px;
  background-color: HSLA(206, 18%, 69%, 1);
}
.one{
  height: 200px;
  width: 600px;
  background-color: HSLA(0, 0%, 31%, .08);
}
