 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
/* body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
} */

$mainFont: 'Open Sans';
$smallFont: 'Helvetica';
@mixin heading{
  font-family: $mainFont;
  background-color: HSLA(184, 100%, 42%, 1);
  color: white;
  font-weight:100;
  margin: 0px;
}

@mixin boxes{
  background-color: white;
  height: 200px;
  width: 600px;
  border:1px solid HSLA(184, 100%, 42%, 1);
  margin: 0px;
}

.bigBox{
  height: 200px;
  width: 600px;
  /* background-color: HSLA(206, 18%, 69%, 1); */

.box1 {
  @include boxes;
}
.box2{
  @include boxes;
}
.box3{
@include boxes;
}
}


h2{
  @include heading;
}

.click{
  height: 40px;
  width: 600px;
  overflow: hidden;

}
